.ciaccona {
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  /* fallback for browsers that do not support custom properties */
  height: 100vh;
  /* custom properties */
  height: calc(var(--vh, 1vh) * 100);
  background-color: black !important;
  overscroll-behavior: none;
}

.ciaccona.no-vid,
.ciacconaciaccona.about {
  background-color: transparent !important;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
}

#loading {
  cursor: wait;
  z-index: 3000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
}
#loading #message {
  font-size: larger;
  padding: 1rem;
  width: fit-content;
  height: 56px;
  color: #f0f8ff; /* alice blue */
}
#loading .spinner-border {
  width: 5rem;
  height: 5rem;
  color: #57728b; /* https://hexcolorpedia.com/color/57728B/  Arrowhead Lake Color | 58728a */
  border-width: 0.5rem;
}

.container-fluid {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

a {
  text-decoration: none;
}

.ciaccona #theContainer {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 100%;
}

.ciaccona:not(.no-vid) #theContainer {
  max-width: none !important;
}

.ciaccona #theContainer #theContainerCol {
  margin: 0;
  padding: 0;
}

.ciaccona #theContainer #theContainerCol.push2right {
  max-width: min(var(--vw, 1vw) * 100, 24rem);
  height: calc(var(--vh, 1vh) * 100 - 57px) !important;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.ciaccona #theContainer #theContainerCol.push2right #grid .grid-brick {
  width: 100% !important;
}

.fullwidth {
  max-width: 100% !important;
  width: 100% !important;
}

/* % % % % % % % % % % % % % % % % */

.ciaccona #theContainer #theContainerCol #grid {
  visibility: inherit;
}

/* -  -  -  -  -  -  -  -  -  -  -  */
/* .grid-brick */
.ciaccona #theContainer #theContainerCol #grid .grid-brick {
  font-size: 1.4rem;
  width: 24rem;
  width: min(var(--vw, 1vw) * 100, 24rem);
  width: var(--gbw, 100%);
  height: 6rem;
  padding: 0.4rem;
  border-style: solid;
  border-width: 1.5px !important;
  display: inline-block;
  visibility: inherit;
}

/*
.no-vid #theContainerCol #grid .grid-brick {
  background-color: transparent !important;
  background-image: none !important;
}
*/

.ciaccona #theContainer #theContainerCol #grid .grid-brick.hasScore:not(.selected) {
  background-color: transparent !important;
  background-image: none !important;
}

/* #theContainerCol #grid .grid-brick.hasScore.Δ:not(.selected) {
  background-color: rgba(192, 192, 192, 0.4) !important;
} */

.ciaccona #theContainer #theContainerCol #grid .grid-brick:not(.gbPlaying) {
  border-color: transparent !important;
}

.ciaccona #theContainer #theContainerCol #grid .grid-brick.hello {
  box-shadow: inset -1rem -1rem #ffffff80;
  transform: translate(5px, 5px);
}
.ciaccona #theContainer #theContainerCol #grid .grid-brick.goodbye {
  /* 
  filter: blur(1px); invert(100%);
  box-shadow: inset 1rem 1rem #ffffff80;
  */
  filter: opacity(66.67%);
}

/* last, signature .grid_brick */
.ciaccona #theContainer #theContainerCol #grid .grid-brick:last-child {
  background-color: transparent !important;
}

.ciaccona #theContainer #theContainerCol #grid .grid-brick:last-child .brick {
  background-image: url(index.svg?v=0.13.3#bach_signature-view);
  /* background-size: 200px 200px; */
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
}

/* -  -  -  -  -  -  -  -  -  -  -  */
/* .brick */
.ciaccona #theContainer #theContainerCol #grid .grid-brick .brick {
  border-radius: 0 3rem 3rem 0;
  width: 100%;
  height: 100%;
}

.ciaccona #theContainer #theContainerCol #grid .grid-brick.hasScore .brick .score {
  cursor: pointer;
}

.ciaccona #theContainer #theContainerCol #grid .grid-brick.selected .brick {
  border-radius: 0 !important;
}

.ciaccona #theContainer #theContainerCol #grid .grid-brick.hasScore.selected .brick :not(:first-child) {
  display: none !important;
}

/* -  -  -  -  -  -  -  -  -  -  -  */
/* .score */
.ciaccona #theContainer #theContainerCol #grid .grid-brick .brick .score {
  position: relative;
  height: 100%;
  border-radius: 0 3rem 3rem 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.ciaccona #theContainer #theContainerCol #grid .grid-brick.hasScore.selected .brick .score {
  border-radius: 0 !important;
  background-color: #aaaaaa40 !important;
  width: 100% !important;
  overflow-x: scroll;
}

.ciaccona #theContainer #theContainerCol #grid .grid-brick.hasScore .brick .score {
  visibility: inherit !important;
}

.ciaccona #theContainer #theContainerCol #grid .grid-brick.hasScore .brick .score.init {
  visibility: hidden !important;
}

.ciaccona #theContainer #theContainerCol #grid.selectedBrick .grid-brick.hasScore:not(.selected) .brick .score {
  visibility: hidden !important;
}

/* -  -  -  -  -  -  -  -  -  -  -  */
/* .object */
.ciaccona #theContainer #theContainerCol #grid .grid-brick .brick .score object {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  background-clip: padding-box;
  position: absolute;
  display: block;
}

/* % % % % % % % % % % % % % % % % */

div.siegel {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

div#logoLeft {
  background-color: transparent;
  left: -111vw;
}

div#logoLeft div#backgroundLeft {
  position: relative;
  background-color: #ffffffc0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

div#logoLeft div.siegel#foregroundLeft {
  background-image: url("index.svg?v=0.13.3#bach_siel_full_left-view");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

div#logoRight {
  background-color: transparent;
  left: +111vw;
}

div#logoRight div#backgroundRight {
  position: relative;
  background-color: #ffffffc0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

div#logoRight div.siegel#foregroundRight {
  background-image: url("index.svg?v=0.13.3#bach_siel_full_right-view");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/* % % % % % % % % % % % % % % % % */

.glowing_bubble_siegel {
  width: 100%;
  margin: 0 0.6rem;
  background-image: url("svg/Bachsiegel_glowing_bubble.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ddd;
  background-position-x: center;
  background-size: 60%;
  background-position-y: 50%;
  border-radius: 1rem;
}

.magnificent-card {
  font-family: "Cinzel", serif;
  font-size: 24px;
  outline: 1px solid gray;
  outline-offset: -2px;
  background-clip: content-box;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  color: #121212;
  backdrop-filter: blur(1px);
  display: flex;
}

div#gb-artist > div > div {
  background-color: #505050c0;
  border-radius: 0.5rem;
}
div#gb-artist > div > div > * {
  margin: 0;
}
div#gb-artist > div > div > *:first-child {
  padding: 0;
}
div#gb-artist > div > div > *:not(:first-child) {
  padding: 0 0 0 0.5rem;
}

span.Δ {
  font-family: "Cinzel", serif;
  font-size: smaller;
  float: left;
  padding-right: 0.3rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 1rem;
  color: rgba(255, 255, 255, 0.75);
  padding: 0 0.4rem 0 0.2rem;
}

.video-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  opacity: 1;
}

#playerWrapper > div > button.plyr__control--overlaid,
#playerWrapper
  > div
  > div.plyr__controls
  > div.plyr__controls__item.plyr__menu {
  display: none;
}

.plyr:not(.plyr--playing) .plyr__video-embed {
  filter: blur(0.8rem);
}

/* https://stackoverflow.com/a/60192837/1070215 */
.plyr .plyr__video-embed {
  position: relative;
  overflow: hidden;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
}

.plyr .plyr__video-embed iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  transform: translate(-50%, -50%);
}

iframe {
  display: block;
  margin: 0 auto;
}

li a.dropdown-item {
  max-height: 30px;
  padding-right: 0.3rem;
}

li a.dropdown-item img {
  height: 40px;
  overflow-y: visible;
}

li a.dropdown-item img#keyboard {
  width: 50px;
  height: auto;
}

li a.dropdown-item div {
  display: block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

li a.dropdown-item div:last-child {
  text-align: right;
  width: 100%;
}

span.d {
  display: none;
  color: #6c757d !important;
  font-family: var(--bs-font-monospace) !important;
  text-align: right;
  font-size: 10px;
  margin-left: 0.3rem;
}

/* --------------------------- */

.my-menu > .dropdown {
  position: absolute;
  background: transparent;
  z-index: 20;
}

.my-menu > .dropdown label {
  white-space: nowrap;
}

.my-menu#videos-menu > .dropdown {
  left: 0;
  margin: 0.3rem 0 0.3rem 0.3rem;
}

.my-menu#config-menu > .dropdown {
  right: 0;
  margin: 0.3rem 0.3rem 0.3rem 0;
}

.my-menu > .dropdown > a.btn {
  background-color: #00000080 !important;
  padding-top: 0;
  padding-bottom: 0;
}

.clipboard-puzzle {
  cursor: pointer;
}
