.icon-base {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.icon-close-circle {
  background-image: url("index.svg?v=0.13.3#close-circle-view");
}
.icon-twitter {
  background-image: url("index.svg?v=0.13.3#twitter-view");
}
.icon-instagram {
  background-image: url("index.svg?v=0.13.3#instagram-view");
}
.icon-facebook {
  background-image: url("index.svg?v=0.13.3#facebook-view");
}
.icon-cthiebaud {
  background-image: url("index.svg?v=0.13.3#cthiebaud-view");
}
.icon-github {
  background-image: url("index.svg?v=0.13.3#github-view");
}
.icon-youtube {
  background-image: url("index.svg?v=0.13.3#youtube-view");
}
.icon-youtube2 {
  background-image: url("index.svg?v=0.13.3#youtube2-view");
}
.icon-youtube_external_link {
  background-image: url("index.svg?v=0.13.3#youtube_external_link-view");
}
.icon-share {
  background-image: url("index.svg?v=0.13.3#share-view");
}
.icon-puzzle {
  background-image: url("index.svg?v=0.13.3#puzzle-view");
}
.icon-puzzle_filled {
  background-image: url("index.svg?v=0.13.3#puzzle_filled-view");
}
.icon-home {
  background-image: url("index.svg?v=0.13.3#home-view");
}
.icon-treble_clef {
  background-image: url("index.svg?v=0.13.3#treble_clef-view");  
}
.icon-ear {
  background-image: url("index.svg?v=0.13.3#ear-view");  
}
.icon-note {
  background-image: url("index.svg?v=0.13.3#note-view");  
}
.icon-arrow_in_left {
  background-image: url("index.svg?v=0.13.3#arrow_in_left-view");  
}
.icon-arrow_in_right {
  background-image: url("index.svg?v=0.13.3#arrow_in_right-view");  
}
.icon-arrow_out_left {
  background-image: url("index.svg?v=0.13.3#arrow_out_left-view");  
}
.icon-bach_siel_full_left {
  background-image: url("index.svg?v=0.13.3#bach_siel_full_left-view");
}
.icon-bach_siel_full_right {
  background-image: url("index.svg?v=0.13.3#bach_siel_full_right-view");
}
.icon-bach_signature {
  background-image: url("index.svg?v=0.13.3#bach_signature-view");
}
.icon-violin {
  background-image: url("index.svg?v=0.13.3#violin-view");
}
.icon-ukulele {
  background-image: url("index.svg?v=0.13.3#ukulele-view");
}
.icon-keyboard {
  background-image: url("index.svg?v=0.13.3#keyboard-view");
}
.icon-harp {
  background-image: url("index.svg?v=0.13.3#harp-view");
}
.icon-xylophone {
  background-image: url("index.svg?v=0.13.3#xylophone-view");
}
.icon-flute {
  background-image: url("index.svg?v=0.13.3#flute-view");
}


