.icon-base {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.icon-close-circle {
  background-image: url("index.svg?v=1.0.1-alphaclose-circle-view");
}
.icon-twitter {
  background-image: url("index.svg?v=1.0.1-alphatwitter-view");
}
.icon-instagram {
  background-image: url("index.svg?v=1.0.1-alphainstagram-view");
}
.icon-facebook {
  background-image: url("index.svg?v=1.0.1-alphafacebook-view");
}
.icon-cthiebaud {
  background-image: url("index.svg?v=1.0.1-alphacthiebaud-view");
}
.icon-github {
  background-image: url("index.svg?v=1.0.1-alphagithub-view");
}
.icon-youtube {
  background-image: url("index.svg?v=1.0.1-alphayoutube-view");
}
.icon-youtube2 {
  background-image: url("index.svg?v=1.0.1-alphayoutube2-view");
}
.icon-youtube_external_link {
  background-image: url("index.svg?v=1.0.1-alphayoutube_external_link-view");
}
.icon-share {
  background-image: url("index.svg?v=1.0.1-alphashare-view");
}
.icon-puzzle {
  background-image: url("index.svg?v=1.0.1-alphapuzzle-view");
}
.icon-puzzle_filled {
  background-image: url("index.svg?v=1.0.1-alphapuzzle_filled-view");
}
.icon-home {
  background-image: url("index.svg?v=1.0.1-alphahome-view");
}
.icon-treble_clef {
  background-image: url("index.svg?v=1.0.1-alphatreble_clef-view");  
}
.icon-violin2 {
  background-image: url("index.svg?v=1.0.1-alphaviolin2-view");  
}
.icon-ear {
  background-image: url("index.svg?v=1.0.1-alphaear-view");  
}
.icon-note {
  background-image: url("index.svg?v=1.0.1-alphanote-view");  
}
.icon-arrow_in_left {
  background-image: url("index.svg?v=1.0.1-alphaarrow_in_left-view");  
}
.icon-arrow_in_right {
  background-image: url("index.svg?v=1.0.1-alphaarrow_in_right-view");  
}
.icon-arrow_out_left {
  background-image: url("index.svg?v=1.0.1-alphaarrow_out_left-view");  
}
.icon-eye_close {
  background-image: url("index.svg?v=1.0.1-alphaeye_close-view");  
}
.icon-eye_open {
  background-image: url("index.svg?v=1.0.1-alphaeye_open-view");  
}
.icon-arrow_out_right {
  background-image: url("index.svg?v=1.0.1-alphaarrow_out_right-view");  
}
.icon-bach_siel_full_left {
  background-image: url("index.svg?v=1.0.1-alphabach_siel_full_left-view");
}
.icon-bach_siel_full_right {
  background-image: url("index.svg?v=1.0.1-alphabach_siel_full_right-view");
}
.icon-bach_signature {
  background-image: url("index.svg?v=1.0.1-alphabach_signature-view");
}
.icon-violin {
  background-image: url("index.svg?v=1.0.1-alphaviolin-view");
}
.icon-ukulele {
  background-image: url("index.svg?v=1.0.1-alphaukulele-view");
}
.icon-keyboard {
  background-image: url("index.svg?v=1.0.1-alphakeyboard-view");
}
.icon-harp {
  background-image: url("index.svg?v=1.0.1-alphaharp-view");
}
.icon-xylophone {
  background-image: url("index.svg?v=1.0.1-alphaxylophone-view");
}
.icon-flute {
  background-image: url("index.svg?v=1.0.1-alphaflute-view");
}
.icon-cimbalom {
  background-image: url("svg/cimbalom.svg?v=1.0.1-alpha);
  background-size: 200%;
}


