.icon-base {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.icon-close-circle {
  background-image: url("index.svg?v=1.0.2-alpha#close-circle-view");
}
.icon-twitter {
  background-image: url("index.svg?v=1.0.2-alpha#twitter-view");
}
.icon-instagram {
  background-image: url("index.svg?v=1.0.2-alpha#instagram-view");
}
.icon-facebook {
  background-image: url("index.svg?v=1.0.2-alpha#facebook-view");
}
.icon-cthiebaud {
  background-image: url("index.svg?v=1.0.2-alpha#cthiebaud-view");
}
.icon-github {
  background-image: url("index.svg?v=1.0.2-alpha#github-view");
}
.icon-youtube {
  background-image: url("index.svg?v=1.0.2-alpha#youtube-view");
}
.icon-youtube2 {
  background-image: url("index.svg?v=1.0.2-alpha#youtube2-view");
}
.icon-youtube_external_link {
  background-image: url("index.svg?v=1.0.2-alpha#youtube_external_link-view");
}
.icon-share {
  background-image: url("index.svg?v=1.0.2-alpha#share-view");
}
.icon-puzzle {
  background-image: url("index.svg?v=1.0.2-alpha#puzzle-view");
}
.icon-puzzle_filled {
  background-image: url("index.svg?v=1.0.2-alpha#puzzle_filled-view");
}
.icon-home {
  background-image: url("index.svg?v=1.0.2-alpha#home-view");
}
.icon-treble_clef {
  background-image: url("index.svg?v=1.0.2-alpha#treble_clef-view");  
}
.icon-violin2 {
  background-image: url("index.svg?v=1.0.2-alpha#violin2-view");  
}
.icon-ear {
  background-image: url("index.svg?v=1.0.2-alpha#ear-view");  
}
.icon-note {
  background-image: url("index.svg?v=1.0.2-alpha#note-view");  
}
.icon-arrow_in_left {
  background-image: url("index.svg?v=1.0.2-alpha#arrow_in_left-view");  
}
.icon-arrow_in_right {
  background-image: url("index.svg?v=1.0.2-alpha#arrow_in_right-view");  
}
.icon-arrow_out_left {
  background-image: url("index.svg?v=1.0.2-alpha#arrow_out_left-view");  
}
.icon-eye_close {
  background-image: url("index.svg?v=1.0.2-alpha#eye_close-view");  
}
.icon-eye_open {
  background-image: url("index.svg?v=1.0.2-alpha#eye_open-view");  
}
.icon-arrow_out_right {
  background-image: url("index.svg?v=1.0.2-alpha#arrow_out_right-view");  
}
.icon-bach_siel_full_left {
  background-image: url("index.svg?v=1.0.2-alpha#bach_siel_full_left-view");
}
.icon-bach_siel_full_right {
  background-image: url("index.svg?v=1.0.2-alpha#bach_siel_full_right-view");
}
.icon-bach_signature {
  background-image: url(index.svg?v=1.0.2-alpha#bach_signature-view);
  background-position-x: right;
  background-position-y: bottom;
  background-size: 40%;}
.icon-violin {
  background-image: url("index.svg?v=1.0.2-alpha#violin-view");
}
.icon-ukulele {
  background-image: url("index.svg?v=1.0.2-alpha#ukulele-view");
}
.icon-keyboard {
  background-image: url("index.svg?v=1.0.2-alpha#keyboard-view");
}
.icon-harp {
  background-image: url("index.svg?v=1.0.2-alpha#harp-view");
}
.icon-xylophone {
  background-image: url("index.svg?v=1.0.2-alpha#xylophone-view");
}
.icon-flute {
  background-image: url("index.svg?v=1.0.2-alpha#flute-view");
}
.icon-cimbalom {
  background-image: url("svg/cimbalom.svg?v=1.0.2-alpha");
  background-size: 200%;
}

.icon-television {
  background-image: url("svg/television-svgrepo-com.svg?v=1.0.2-alpha");
}

.icon-external_link {
  background-image: url("svg/External_link_font_awesome.svg?v=1.0.2-alpha");
}



