a {
  text-decoration: none;
}

table.table-fit {
  width: auto !important;
  table-layout: auto !important;
  margin: auto;
}

table.table-fit thead th,
table.table-fit tfoot th {
  width: auto !important;
}

table.table-fit tbody td,
table.table-fit tfoot td {
  width: auto !important;
}

/* table head */
thead > tr > th:not(:first-child) {
  border-left: 0.5px solid gray;
}

thead > tr > th.published,
thead > tr > th.since {
  white-space: nowrap;
}

thead > tr > th.sortable > span {
  float: right;
}

thead > tr > th:not(.sortable) > span:last-child {
  display: none;
}

thead > tr > th.sortable:not(:first-child) {
  padding-left: 0.5rem;
}

thead > tr > th.sortable > span {
  position: relative;
}

thead > tr > th.sortable > span::after {
  display: inline-block;
  content: "";
  background-image: url(svg/_sort-undefined.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  top: 0;
  right: 0;
  position: absolute;
}

thead > tr > th.sortable.sorted_asc > span::after {
  background-image: url(svg/_sort-asc.svg);
  opacity: 1;
}

thead > tr > th.sortable.sorted_desc > span::after {
  background-image: url(svg/_sort-desc.svg);
  opacity: 1;
}

/* table body */
tbody > tr > td.yt {
  font-family: var(--bs-font-monospace) !important;
  font-size: 10pt;
  max-width: 4rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index {
  font-family: var(--bs-font-monospace) !important;
  font-weight: normal;
  font-size: smaller;
}

tbody > tr > td.fb img {
  width: 20px;
  height: 20px;
}

tbody > tr > td.flag {
  font-size: 16pt;
}

tbody > tr > td.published,
tbody > tr > td.since,
tbody > tr > td.name  {
  white-space: nowrap;
}

tbody > tr > td.since {
  font-style: italic;
}

tbody > tr > td.still {
  font-style: italic;
}

tbody > tr > td.herz,
tbody > tr > td.variance,
tbody > tr > td.length,
tbody > tr > td.views,
tbody > tr > td.monthly {
  font-family: var(--bs-font-monospace) !important;
}
